@font-face { font-family: "Wolgadeutsche"; src: url("prokr/Wolgadeutsche.ttf") format("truetype"); font-style: normal; font-weight: normal; }
* {margin: 0; padding: 0; }
body{ padding-left: .5%; padding-bottom: 5rem;
background: linear-gradient(90deg, rgb(222, 237, 185), rgb(164, 214, 166));
font-family: 'Rubik', sans-serif;
}
h1,h2{text-align: center;}
.podgrpc{font-size: 26px;
font-family: "Wolgadeutsche";
line-height: 1.5;
text-indent: 30px;
letter-spacing: 2.7px;
padding-right: 2.4rem;
}
.knopazag{
padding: 2px;
cursor: pointer;
border: 1px solid gray;
border-radius: 10px;
}
.podgrpck{font-size: 21px;
 text-indent: 25px;
 margin-top: 4px;
/* line-height: 1.3; letter-spacing: 2.5px; padding-right: 1.8rem; */
}
.dop2{color: red;
font-size: 22px;
margin-top: 10px;
}
h2{margin-top: 4rem;
color: #260c68;}
h2:hover{ color: red;}
.autoprknp{
padding: 10px;
color: blue;
cursor: pointer;
border: 3px solid gray;
border-radius: 1rem;
margin-bottom: .5rem;
}

.obolo{ position: absolute; }
.perevod{ cursor: pointer;
padding: 8px;
font-size: 16px; 
border-radius: 30px;
background-color: transparent; 
border-color: yellow;
}
*{
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}