*{margin: 0; padding: 0;}
.outer-jsc {
position:   relative;
/* height:     450px; */
/* border:     1px solid #fff; */
margin:     0 auto;

min-height: 180px;
max-height: 790px;
height:      100vw;
/* background-color: #ddddd5; */

h3 { font-size: 1.6rem; }
p { font-size: 1.2rem; }

@media screen and (min-width: 768px) {
  h3 { font-size: 2.4rem; }
  p { font-size: 1.6rem; }
}
}
